h1 {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    background-color: black;

    animation: fadeIn 15s;
}

p {
    max-width: 400px;
    display: block;
    margin: auto;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  