
body {
    font-family: "Libre Franklin", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content:space-evenly;
    background-color: aliceblue;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    text-align: center;
    padding: 1rem;
    align-items: center;
    justify-items: center;
}

header span {
    font-size:2rem
}

header img {
    border-radius: 10%;
}

h1 {
    font-size: 2rem;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	background-color: blue;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	font-weight: 700;
}

.open a {
	display: block;
}

nav .active {
	background-color: rgba(0,0,0,0.3)
}

nav ul {
    list-style-type: none;
    padding: 0;
}

main {
    padding: 20px;
    grid-column: 1/2;
}

h1 {
    text-align: center;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px 0;
    border-radius: 1px;
}

.card ul {
    list-style-type: none;
}

.card a:visited {
    color: inherit; 
  }