:root {
    --background-color: blue;
    --text-color: white; 
    --hover-background-color: rgba(255,255,255,0.2); 
	--main-font: 'Libre Franklin', sans-serif; 
}


body {
    font-family: var(--main-font);
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content:space-evenly;
    background-color: aliceblue;
    max-width: 500px;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    text-align: center;
    padding: 1rem;
    align-items: center;
    justify-items: center;
}

header span {
    font-size:2rem
}

header img {
    border-radius: 10%;
}

h1 {
    font-size: 2rem;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	background-color:var(--background-color);
	color: var(--text-color);
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--text-color);
}
.navigation a:hover {
	background-color: rgba(255,255,255,0.2);
	color: var(--text-color);
	font-weight: 700;
}

.open a {
	display: block;
}

nav .active {
	background-color: rgba(0,0,0,0.3)
}

nav ul {
    list-style-type: none;
    padding: 0;
}

main {
    padding: 20px;
    grid-column: 1/2;
}

form fieldset {
    border: 2px solid #ddd; /* Adds a clear border for the fieldset */
    padding: 15px; /* Provides spacing inside the fieldset */
    margin-bottom: 20px; /* Adds space between fieldsets */
}

form legend {
    font-weight: bold; /* Makes the legend text stand out */
    padding: 0 10px; /* Adds spacing inside the legend */
}

form label {
    display: block; /* Ensures labels appear above inputs */
    margin-bottom: 5px; /* Adds spacing between label and input */
}

form input, select, textarea, button {
    width: 100%; /* Ensures input fields stay within boundaries */
    padding: 10px; /* Adds spacing inside inputs for a polished look */
    box-sizing: border-box; /* Ensures padding doesn’t overflow container */
    font-size: 16px; /* Improves readability */
}

button[type="submit"] {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: darkblue; /* Provides visual feedback */
}




